.card-item-image{
    width: 200px;
    height: 200px;
    margin-right: 10px; /* Agrega un margen a la derecha para separar la imagen de los demás datos */
    float: left; /* Alinea la imagen a la izquierda */
  }
  
  .carrito-table {
    width: 90%; /* Ajusta el porcentaje según lo desees */
    margin: auto; /* Centra la tabla horizontalmente en la página */
    /* Agrega otros estilos si lo necesitas */
  }
  
  .btn {
    font-size: 4rem;
  }

  .titulo{
    font-size: 4rem;
    margin-bottom: 100px;
  }

  .vaciar {
    margin: 40px;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }