.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e2d4d4;
  padding: 10px;
}

.navbar-brand {
  margin-left: 10px;
  font-weight: bold;
}

.navbar-menu {
  display: flex;
  justify-content: center;
}

.navbar-search {
  margin-right: 10px;
}
.button-wrapper {
  margin-right: 0.5rem;
}

.btn-custom {
  background-color: transparent;
  color: #000000;
  border: none;
}

.btn-custom.ActiveOpcion {
  background-color: #007bff;
  color: #ffffff;
}

